In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
Ushadata = pd.read_csv("C:\\Users\\MGOPI\\OneDrive\\Desktop\\class\\python_class\\ASSIGNMENT\\news.csv")

In [4]:
Ushadata

,title,content,published_at,source,topic
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8
...,...,...,...,...,...
805,BTS’ SUGA’s Suchwita Ep 2 Teaser OUT: Top 3 so...,BTS has conquered the world with their group r...,2022-12-30T08:00:00Z,3,11
806,BTS ARMY celebrate 700 days of Jin's special s...,Today marks 700 days since BTS' worldwide hand...,2022-01-20T08:00:00Z,3,8
807,"BTS: 'I am not a baby,' says Jungkook as an AR...",BTS' youngest member Jungkook came online on W...,2022-09-02T07:00:00Z,1,10
808,BTS' Jin shares 1st pics after joining militar...,BTS' eldest member Jin has shared pictures and...,2023-01-18T08:36:56Z,2,1
809,"Bad Decisions: BTS’ Jin, Jimin, V & Jungkook j...","After a lot of teasing, Benny Blanco’s collabo...",2022-08-05T07:00:00Z,3,8

In [5]:
Ushadata.head()

,title,content,published_at,source,topic
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8

In [7]:
dublies = Ushadata.duplicated()
sum(dublies)

0

In [8]:
Ushadata.isnull().values.any()

True

In [9]:
Ushadata.dropna(inplace=True)
Ushadata.isnull().sum()

title           0
content         0
published_at    0
source          0
topic           0
dtype: int64

In [10]:
Ushadata.tail()

,title,content,published_at,source,topic
805,BTS’ SUGA’s Suchwita Ep 2 Teaser OUT: Top 3 so...,BTS has conquered the world with their group r...,2022-12-30T08:00:00Z,3,11
806,BTS ARMY celebrate 700 days of Jin's special s...,Today marks 700 days since BTS' worldwide hand...,2022-01-20T08:00:00Z,3,8
807,"BTS: 'I am not a baby,' says Jungkook as an AR...",BTS' youngest member Jungkook came online on W...,2022-09-02T07:00:00Z,1,10
808,BTS' Jin shares 1st pics after joining militar...,BTS' eldest member Jin has shared pictures and...,2023-01-18T08:36:56Z,2,1
809,"Bad Decisions: BTS’ Jin, Jimin, V & Jungkook j...","After a lot of teasing, Benny Blanco’s collabo...",2022-08-05T07:00:00Z,3,8